<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright 2009 Comcast Interactive Media, LLC.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
           xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="exampleCircuitService" class="org.fishwife.jrugged.examples.spring.ExampleService"/>

    <!--==============================
        CIRCUIT
    ================================-->
    <bean id="exampleCircuitBreaker" class="org.fishwife.jrugged.spring.CircuitBreakerBean">
        <property name="limit" value="5"/>
        <property name="windowMillis" value="2000"/>
        <property name="resetMillis" value="5000"/>
    </bean>

    <bean id="exampleCircuitBreakerInterceptor" class="org.fishwife.jrugged.spring.ServiceWrapperInterceptor">
        <property name="methods">
            <map>
              <entry key="exampleMethodCallOne" value-ref="exampleCircuitBreaker"/>
              <entry key="exampleMethodCallTwo" value-ref="exampleCircuitBreaker"/>
            </map>
        </property>
    </bean>

    <!--==============================
        MONITOR
    ================================-->

    <bean id="exampleMonitorInterceptor" class="org.fishwife.jrugged.spring.ServiceWrapperInterceptor">
        <property name="methods">
            <map>
              <entry key="exampleMethodCallOne" value-ref="examplePerformanceMonitor"/>
            </map>
        </property>
    </bean>

    <bean id="examplePerformanceMonitor" class="org.fishwife.jrugged.spring.PerformanceMonitorBean"/>

    <bean id="exampleCircuitServiceProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="exampleCircuitService"/>
        <property name="interceptorNames">
            <list>
                <value>exampleCircuitBreakerInterceptor</value>
                <value>exampleMonitorInterceptor</value>
            </list>
        </property>
    </bean>  

    <!--==============================
        JMX
    ================================-->

    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false"
        p:assembler-ref="assembler"
        p:namingStrategy-ref="namingStrategy"
        p:autodetect="true">
        <property name="beans">
            <map>
                <entry key="jrugged:name=exampleCircuitBreaker" value-ref="exampleCircuitBreaker"/>
                <entry key="jrugged:name=exampleServicePerformance" value-ref="examplePerformanceMonitor"/>
            </map>
        </property>
    </bean>

    <bean id="jmxAttributeSource"
          class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

    <!-- will create management interface using annotation metadata -->
    <bean id="assembler"
          class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler"
        p:attributeSource-ref="jmxAttributeSource"/>

    <!-- will pick up the ObjectName from the annotation -->
    <bean id="namingStrategy"
          class="org.springframework.jmx.export.naming.MetadataNamingStrategy"
        p:attributeSource-ref="jmxAttributeSource"/>

</beans>
